<!--
  ~ Created by Eugene Sokolov 27.06.2024, 10:27.
  -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link crossorigin="anonymous" rel="stylesheet" th:href="@{/style/style.css}">
    <title>KC Users</title>
</head>
<body onload="timedRefresh(60000);">
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand unselectable fw-bold" th:if="${filter == null}">KC Users</span>
            <span class="navbar-brand unselectable fw-bold" th:if="${filter != null}"
                  th:text="#{front.mainpage.search.resultsfor} + ${' &quot;' + filter + '&quot;'}"></span>

            <div class="navbar-collapse"></div>

            <form class="d-flex" method="get" role="search" th:if="${filter == null}">
                <input aria-label="Search" class="form-control me-2" name="filter"
                       th:placeholder="#{front.mainpage.search.placeholder}" type="search">
                <button class="btn btn-outline-success" type="submit"
                        th:text="#{front.mainpage.search.button}"></button>
            </form>

            <a aria-current="page" class="btn btn-outline-danger" href="/"
               th:if="${filter != null}" th:text="#{front.mainpage.search.dismiss}"></a>

            <a aria-current="page" class="btn btn-outline-info" href="/logout"
               th:text="#{front.mainpage.button.logout} + ' ' + ${authorizedusername}"></a>
            <a aria-current="page" class="btn btn-outline-info" th:href="'/logins/'+${authorizedusername}"
               th:text="#{front.mainpage.button.logins}"></a>
        </div>
    </nav>
    <div th:if="${page.getContent().isEmpty()}" class="text-center h3" th:text="#{front.mainpage.nousersfound}"></div>
    <div th:unless="${page.getContent().isEmpty()}">
        <table class="table table-hover">
            <thead>
            <tr class="table-primary unselectable sticky-top">
                <th scope="col" th:text="#{front.mainpage.table.header.user}"></th>
                <th scope="col" th:text="#{front.mainpage.table.header.realm}"></th>
                <th scope="col" th:text="#{front.mainpage.table.header.id}">Id</th>
                <th scope="col" th:text="#{front.mainpage.table.header.created}"></th>
                <th scope="col" th:text="#{front.mainpage.table.header.lastlogin}"></th>
                <th scope="col" th:text="#{front.mainpage.table.header.comment}"></th>
                <th scope="col" th:text="#{front.mainpage.table.header.status}"></th>
            </tr>
            </thead>
            <tbody>
            <tr onclick="navigateToUserPage(this)" style="cursor: pointer;"
                th:class="${user.getEnabled() ? (user.getManuallyEnabledTime() == null ? 'table-success' : 'table-warning') : 'table-danger'}"
                th:data="'/user/' + ${user.getRealmName()} + '/' + ${user.getUserName()}"
                th:each="user : ${page.getContent()}"
                th:id="${user.getUserId()}"
            >

                <th><span th:text="${user.getUserName()}"/></th>
                <td><span th:text="${user.getRealmName()}"/></td>
                <td><span th:text="${user.getUserId()}"/></td>
                <td><span th:text="${#dates.format(user.getCreated())}"/></td>
                <td><span th:text="${user.getLastLogin() != 0 ? #dates.format(user.getLastLogin()) : ''}"/></td>
                <td><span th:text="${user.getComment()}"/></td>
                <td>
                    <span th:if="${user.getEnabled()}" class="badge text-bg-success"
                          th:text="#{front.status.enabled}"/>
                    <span th:unless="${user.getEnabled()}" class="badge text-bg-danger"
                          th:text="#{front.status.disabled}"/>
                </td>
            </tr>

            </tbody>
        </table>
        <div class="sticky-bottom" th:insert="~{pager.html :: pager('/')}"></div>
    </div>
</div>
<script crossorigin="anonymous" th:src="@{/bootstrap/bootstrap.bundle.min.js}"></script>
<script crossorigin="anonymous" th:src="@{/script/script.js}"></script>
</body>
</html>
